In [20]:
import numpy as np
import matplotlib.pyplot as plt
from scipy import ndimage
from google.cloud import storage
import os
import h5py
import pandas as pd

In [36]:
def setup_filestructure():
    storage_client = storage.Client()
    bucket = storage_client.bucket('amsr-12km')
    blobs = bucket.list_blobs()
    fnames = []
    for blob in blobs: 
        fnames.append(blob.name)
    fnames = fnames[1::2]
    return bucket, fnames

In [37]:
bucket, fnames = setup_filestructure()

In [44]:
def get_df(fname, keynum):
    blob = bucket.blob(fname)
    blob.download_to_filename(fname)
    f = h5py.File(fname, 'r')
    keys = list(f['HDFEOS']['GRIDS']['NpPolarGrid12km']['Data Fields'].keys())
    print(f'Extracting {keys[keynum]} from {fname}')
    df = f['HDFEOS']['GRIDS']['NpPolarGrid12km']['Data Fields'][keys[keynum]][:]
    df = pd.DataFrame(df)
    f.close()
    os.remove(fname)
    return df

In [47]:
sea = get_df(fnames[40], 25)

Extracting SI_12km_NH_ICECON_DAY from AMSR_U2_L3_SeaIce12km_B04_20170811.he5

,0,1,2,3,4,5,6,7,8,9,...,598,599,600,601,602,603,604,605,606,607
0,0,0,0,0,0,0,0,0,0,0,...,120,120,120,120,120,120,120,120,120,120
1,0,0,0,0,0,0,0,0,0,0,...,120,120,120,120,120,120,120,120,120,120
2,0,0,0,0,0,0,0,0,0,0,...,120,120,120,120,120,120,120,120,120,120
3,0,0,0,0,0,0,0,0,0,0,...,120,120,120,120,120,120,120,120,120,120
4,0,0,0,0,0,0,0,0,0,0,...,120,120,120,120,120,120,120,120,120,120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
891,120,120,120,120,120,120,120,120,120,120,...,0,0,0,0,0,0,0,0,0,0
892,120,120,120,120,120,120,120,120,120,120,...,0,0,0,0,0,0,0,0,0,0
893,120,120,120,120,120,120,120,120,120,120,...,0,0,0,0,0,0,0,0,0,0
894,120,120,120,120,120,120,120,120,120,120,...,0,0,0,0,0,0,0,0,0,0
895,120,120,120,120,120,120,120,120,120,120,...,0,0,0,0,0,0,0,0,0,0